<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-6 offset-3">
    <form action="/campground" method="post" novalidate class="validated-form">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          name="campground[title]"
          id="title"
          required
        />
        <div class="valid-feedback">Looks Good</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          name="campground[location]"
          id="location"
          required
        />
        <div class="valid-feedback">Looks Good</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="images">Images</label>
        <input
          class="form-control"
          type="text"
          name="campground[images]"
          id="images"
        />
        <div class="valid-feedback">Not Required</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Price</label>
        <div class="input-group">
          <span class="input-group-text" aria-describedby="price-label">@</span>

          <input
            class="form-control"
            type="text"
            name="campground[price]"
            id="price"
            aria-label="0"
            aria-describedby="price-label"
            required
          />
          <div class="valid-feedback">Looks Good</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="discription">Discription</label>
        <textarea
          class="form-control"
          type="text"
          name="campground[discription]"
          id="discription"
          required
        ></textarea>
        <div class="valid-feedback">Looks Good</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Campground</button>
      </div>
    </form>
    <footer>
      <a href="/campground">All Campground</a>
    </footer>
  </div>
</div>
